<head>
    <link rel="stylesheet" href="styles.css">
    <title>LeaderBoard Page</title>
</head>
<body>
<h1><%= table %> LeaderBoard</h1>
<br><br>
<table border="1" id="books">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Points</th>
        <th>Action</th>
        <th>Change</th>
    </tr>
    <%  friends.forEach( (friend) => { %>
        <tr>
            <td>
                <%= friend.id %>
            </td>
            <td>
                <%= friend.first_name + " " + friend.last_name%>
            </td>
            <td>
                <%= friend.rank %>
            </td>
            <td>
                <%= friend.points %>
            </td>
            <td>
                <button>+10</button>
                <button>-10</button>
            </td>
            <td>
                <button><a href="#">Edit</a></button>
                <button><a href="#">View</a></button>
            </td>
        </tr>
        <% }) %>
</table>
</body>