<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="/styles.css">
</head> 
<body>
<div>
    <div>The average point is: <span><%= avg %> </span></div>
    <div>The max point is: <span><%= max %></span></div>
    <div>Your best-friend is: <span><%= bestFF + ' ' + bestFL %> </span></div>
    <div>The min point is: <span><%= min %> </span></div>
    <div>Your worst-friend is: <span><%= worstFF + ' ' + worstFL %> </span></div>
</div>
</body>