<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="/styles.css">
</head> 
<body>
    <button style="background-color: green; border-radius: 8px; padding: 10px;">
        <a href="/leaderboard" style="color: white; text-decoration: none">View Leaderboard</a></button>
<table border="1" id="friends">
    <tr>
        <th>Information</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>Average Point</td>
        <td> <span><%= avg %> </span></td>
    </tr>
    <tr>
        <td>Maximum Point</td>
        <td> <span><%= max %></td>
    </tr>
    <tr>
        <td>Best Friend</td>
        <td><span><%= bestFF + ' ' + bestFL %> </span></td>
    </tr>
    <tr>
        <td>Minimum Point</td>
        <td><span><%= min %> </span></td>
    </tr>
    <tr>
        <td>Worst Friend</td>
        <td><span><%= worstFF + ' ' + worstFL %> </span></td>
    </tr>
</table>

</body>